@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
      opacity: 1;
   }
}
.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50vh;
  text-align: center;
  width: 60vw;
  height: 30vh;
  max-width: 600px;
  max-height: 275px;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 2px lightgray double;
  display: flex;
  flex-direction: column;
  animation: 0.2s ease 0s 1 fadeInAnimation;
}



.closeButton{
    margin: 10px;
    border: none;
    background: none;
    transition: 0.3s;
    align-self: end;
}
.closeButton:hover{
    transform: scale(1.4);
}