.main {
  margin: 3rem auto;
  border-radius: 30px;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.col2 {
  grid-column-start: 2;
  grid-column-end: 2;
}
.col3 {
  grid-column-start: 3;
  grid-column-end: 3;
}

tr{
  border-bottom: 1px solid lightgrey;
}
.gridRow:hover{
  color: gray;
}
